@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="background-color: lightcoral; padding: 10px; border: 1px solid darkred; margin-top: 10px;">
    <center>We encountered an issue. Please bear with us while we resolve it.</center>
</div>

<div style="margin-top: 20px; text-align: center;">
    <button>@Html.ActionLink("Back to Dashboard", "EnterTask")</button>
</div>